.z-upload {
  display: flex;
  flex-direction: column;
}

.z-autoComplete-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.autoComplete-input {
  margin-bottom: 0;
}

.suggestions-container {
  padding: 0;
  margin: 0;
  border: 1px solid #dee2e6;
  box-shadow: $box-shadow;

  .suggestions-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    list-style: none;
    cursor: pointer;
    &:hover {
      color: $menu-item-active-color;
    }
  }
}
