.tabs {
  display: flex;
}
.tabs-item {
  margin-bottom: 30px;
  list-style: none;

  &.is-actived {
    color: $menu-item-active-color;
  }
  .tabs-label {
    cursor: pointer;
    padding: $menu-item-padding-y $menu-item-padding-x;
    &:hover,
    &.is-actived {
      color: $menu-item-active-color;
    }
  }

  .tabs-content {
    position: absolute;
    left: 0;
  }
}
