// z-menu (menu-horizontal menu-vertical)
//  menu-item
//  submenu-item 下拉菜单
//    submenu-title 下拉标题
//    z-submenu 下拉菜单面板
.menu-item {
  margin: 0;
}
.z-submenu {
  margin: 0;
}

.z-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  box-shadow: $menu-box-shadow;

  &.menu-vertical {
    flex-direction: column;

    .menu-item {
      min-width: 200px;
      border-bottom: none;
      margin-bottom: 0;
      border-left: $menu-item-active-border-width solid transparent;
      &:hover {
        border-left: $menu-item-active-border-width solid
          $menu-item-active-color;
        border-bottom: none;
      }
    }
  }

  > .menu-item {
    margin-bottom: 0;
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    // horizontal
    border-bottom: $menu-item-active-border-width solid transparent;
    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    &:hover,
    &.is-actived {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid
        $menu-item-active-color;
    }
  }
}

.submenu-item {
  position: relative;
  .submenu-title {
    display: flex;
    align-items: center;
  }
  .z-icon {
    margin-top: 3px;
    margin-left: 3px;
    transition: transform 0.3s ease-in-out;
  }
}

// mode = horizontal
.menu-horizontal {
  .z-submenu {
    position: absolute;
    z-index: 1000;
    background: $white;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
    margin-top: 0;
    padding: 0;
  }

  .submenu-item:hover {
    .z-icon {
      transform: rotate(180deg);
    }
  }
}

// 菜单栏
.z-submenu {
  list-style: none;
  padding: 0;
  // transition: $menu-transition;

  .menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    color: $body-color;
    &:hover,
    &.is-actived {
      color: $menu-item-active-color !important;
    }
  }
}

.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  margin: 10px 20px;
  border-right: $menu-border-width solid $menu-border-color;
  > .menu-item {
    border-left: $menu-item-active-border-width solid transparent;
    &.is-actived,
    &:hover {
      border-bottom: 0px;
    }
  }

  .submenu-item.is-arrow-down {
    .z-icon {
      transform: rotate(180deg);
    }
  }

  .z-submenu {
    margin: 0;
    > .menu-item {
      &.is-actived,
      &:hover {
        border-color: transparent;
      }
    }
  }
}
