.tabs {
  display: flex;
  position: relative;
  padding: 0;
}

.tabs-item {
  margin-bottom: 30px;
  list-style: none;
  border: 1px solid transparent;
  border-bottom-color: $gray-400;
  border-radius: 2px;

  .tabs-label {
    cursor: pointer;
    padding: $menu-item-padding-y $menu-item-padding-x;

    &:hover,
    &.is-actived {
      color: $menu-item-active-color;
    }
  }

  &.is-actived {
    color: $menu-item-active-color;
    border-color: $gray-400;
    border-bottom-color: transparent;
  }

  &.is-disabled {
    .tabs-label {
      cursor: not-allowed;
      color: $menu-item-disabled-color;
    }
  }

  .tabs-content {
    position: absolute;
    left: 0;
    color: $body-color;
    display: none;
    margin-top: 10px;
    &.is-showed {
      display: block;
    }
  }
}
