@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }

  &:focus,
  &.focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    cursor: not-allowed;
    pointer-events: none;
  }
}

// alert
@mixin alert-style($status, $background, $border, $color) {
  .alert-#{$status} {
    background: $background;
    border-color: $border;
    color: $color;
  }
}

// zoom-in-top
@mixin zoom-animation(
  $direction: "top",
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: top
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }

  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transform-origin: $origin;
    transition: opacity 300ms, transform 300ms;
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
    transform: $scaleEnd;
  }
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transform-origin: $origin;
    transition: opacity 300ms, transform 300ms;
  }
}

// input different size control
@mixin input-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}
