.z-upload-input-container {
  display: inline-block;
}

.z-upload-list {
  width: 300px;
}

.upload-list-item {
  list-style: none;
  padding: 6px 12px;
  margin-bottom: 0;
  &:hover {
    background: #f5f5f5;

    .upload-file-status {
      display: none;
    }
    .upload-file-actions {
      display: block;
    }
  }
}
.upload-file {
  display: flex;
  align-items: center;
}
.upload-file-icon {
  color: #00000073;
  margin-right: 10px;
}

.upload-file-name {
  flex: 1;
}

.upload-file-actions {
  cursor: pointer;
  display: none;
  margin-right: 3px;
}

.upload-list-item-error {
  color: #ff4d4f;
  .upload-file-icon {
    color: #ff4d4f;
  }
}

// progress
.upload-progress-wrapper {
  border-radius: $progress-border-radius;
  background-color: #e7e6ed;
  color: $progress-bar-color;
  font-size: $progress-font-size;

  .upload-progress-stroke {
    height: 100%;
    background: $primary;
    border-radius: $progress-border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $progress-bar-transition;
  }

  @each $key, $value in $progress-theme-colors {
    .upload-progress-stroke-#{$key} {
      background: $value;
    }
  }
}

// dragger
.z-upload-dragger {
  background: $gray-100;
  border: 4px dashed $gray-300;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;
  width: 360px;
  height: 180px;
  text-align: center;
  &:hover {
    border: 4px dashed $primary;
  }
  &.is-dragover {
    border: 4px dashed $primary;
    background: rgba($primary, 0.2);
  }
}
