.z-upload-list {
  width: 300px;
}

.upload-list-item {
  list-style: none;
  padding: 6px 12px;
  margin-bottom: 0;
  &:hover {
    background: #f5f5f5;
  }
}
.upload-file {
  display: flex;
  align-items: center;
}
.upload-file-icon {
  color: #00000073;
  margin-right: 10px;
}

.upload-file-name {
  flex: 1;
}

.upload-list-item-error {
  color: #ff4d4f;
  .upload-file-icon {
    color: #ff4d4f;
  }
}

// progress
.upload-progress-wrapper {
  border-radius: $progress-border-radius;
  background-color: #e7e6ed;
  color: $progress-bar-color;
  font-size: $progress-font-size;

  .upload-progress-stroke {
    height: 100%;
    background: $primary;
    border-radius: $progress-border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $progress-bar-transition;
  }

  @each $key, $value in $progress-theme-colors {
    .upload-progress-stroke-#{$key} {
      background: $value;
    }
  }
}
