.alert {
  position: relative;
  left: 25%;
  width: 50%;
  padding: $alert-padding-y $alert-padding-x;
  border-radius: $alert-border-radius;
  @include alert-style($primary, $primary, $white);

  .close {
    position: absolute;
    right: 0.75em;
    top: 0.5em;
    cursor: pointer;
  }
}
