.alert {
  display: inline-flex;
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  border-width: 1px;
  border: 1px solid;
  border-radius: $alert-border-radius;
  box-shadow: $alert-box-shadow;
  min-width: 200px;

  .alert-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .alert-content-title {
    display: inline-block;
  }

  .alert-title {
    flex-wrap: wrap;
    font-size: larger;
  }

  .alert-description {
    white-space: nowrap;
  }

  .alert-icon {
    padding: 0;
    margin-right: 10px;
  }

  .close {
    position: absolute;
    right: 0.7em;
    top: 0.4em;
    cursor: pointer;
  }
}

.alert-with-title {
  display: inline-block;
}

@include alert-style("default", $primary, $primary, $white);
@include alert-style("success", $success, $success, $white);
@include alert-style(
  "warning",
  $warning,
  $warning-border-color,
  $warning-font-color
);
@include alert-style("danger", $danger, $danger, $white);
